body {
    font-family: Arial, sans-serif;
  }

  .card-container {
    width: 1200px;
    margin: auto;
    text-align: center;
    padding-top: 90px;
  }

  .card {
    width: 200px;
    height: 226px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    display: inline-block;
    margin-right: 95px;
    margin-bottom: 50px;
  }

  .card:nth-child(3n){
   margin-right: 15px;
  }

  .card img {
    display: block;
    width: 130px;
    height: 130px;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
  }

  .card h2 {
    margin: 10px 0;
    text-align: center;
    font-size: 18px;
  }

  .card p {
    margin: 5px 0;
    font-size: 14px;
  }